"*":
  "exception-reporting":
    userId: "efc4c35c-5b7e-f9e3-8ab5-5c85454f7b66"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "metrics"
      "open-on-github"
      "package-generator"
      "background-tips"
      "go-to-line"
      "styleguide"
    ]
    themes: [
      "atom-material-ui"
      "solarized-light-syntax"
    ]
    autoHideMenuBar: true
    openEmptyEditorOnStart: false
  editor:
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: true
    scrollPastEnd: true
    tabLength: 4
    fontSize: 12
  "status-bar": {}
  "language-babel": {}
  linter:
    showErrorPanel: false
    showErrorTabProject: false
    statusIconScope: "File"
    showErrorTabFile: false
  react: {}
  "fuzzy-finder": {}
  "linter-eslint":
    useGlobalEslint: true
  "autocomplete-plus": {}
  tabs: {}
  "recent-finder":
    max: 100
  "atom-material-ui":
    compactTreeView: true
    fontSize: "Big"
    tabSize: "Small"
  "vim-mode":
    useClipboardAsDefaultRegister: true
    wrapLeftRightMotion: true
  "highlight-line": {}
  "cursor-history": {}
  "expand-region": {}
  "lazy-motion":
    showHoverIndicator: false
  pigments:
    markerType: "dot"
  "tree-view":
    hideVcsIgnoredFiles: true
  "autohide-tree-view": {}
  "advanced-open-file":
    helmDirSwitch: true
  "atom-fuzzy-grep":
    detectGitProjectAndUseGitGrep: false
    preserveLastSearch: true
  "color-picker": {}
  "git-diff": {}
  "git-plus": {}
  "atom-beautify":
    analytics: false
    beautifyEntireFileOnSave: false
".coffee.jsx.source":
  editor:
    showIndentGuide: true
