"*":
  "exception-reporting":
    userId: "efc4c35c-5b7e-f9e3-8ab5-5c85454f7b66"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "metrics"
      "open-on-github"
      "package-generator"
    ]
    themes: [
      "atom-material-ui"
      "solarized-light-syntax"
    ]
    autoHideMenuBar: true
  editor:
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: true
    scrollPastEnd: true
    tabLength: 4
  "status-bar": {}
  "language-babel": {}
  linter:
    showErrorPanel: false
    showErrorTabProject: false
    statusIconScope: "File"
    showErrorTabFile: false
  react: {}
  "fuzzy-finder": {}
  "linter-eslint":
    useGlobalEslint: true
    disableWhenNoEslintrcFileInPath: true
  "autocomplete-plus": {}
  "atom-terminal":
    MacWinRunDirectly: true
  tabs: {}
  "recent-finder":
    max: 100
  "atom-material-ui":
    compactTreeView: true
    fontSize: "Big"
    slimScrollbar: true
    tabSize: "Small"
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "highlight-selected":
    onlyHighlightWholeWords: true
    lightTheme: true
  emmet: {}
  "save-session":
    dataSaveFolder: "/home/mbme/dotfiles/atom/.atom/packages/save-session/projects"
".coffee.jsx.source":
  editor:
    showIndentGuide: true
