'body':
  'ctrl-o': 'unset!'
  'alt-j': 'core:move-down'
  'alt-k': 'core:move-up'

  'alt-1': 'unset!'
  'alt-2': 'unset!'
  'alt-3': 'unset!'
  'alt-4': 'unset!'
  'alt-5': 'unset!'
  'alt-6': 'unset!'
  'alt-7': 'unset!'
  'alt-8': 'unset!'
  'alt-9': 'unset!'


'atom-workspace':
  'alt-1': 'tree-view:toggle'

  'alt-r': 'recent-finder:toggle'
  'alt-f': 'fuzzy-finder:toggle-file-finder'
  'alt-F': 'fuzzy-grep:toggleLastSearch'
  'alt-b': 'fuzzy-finder:toggle-buffer-finder'
  'alt-i': 'symbols-view:toggle-file-symbols'
  'alt-I': 'symbols-view:toggle-project-symbols'
  'alt-p': 'command-palette:toggle'
  'alt-o': 'advanced-open-file:toggle'

  'alt-]': 'pane:show-next-item'
  'alt-[': 'pane:show-previous-item'

  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'

  'alt-g j': 'git-diff:move-to-next-diff'
  'alt-g k': 'git-diff:move-to-previous-diff'
  'alt-g p': 'git-plus:menu'
  'alt-g s': 'git-plus:status'

  'f4': 'mb:terminal'
  'shift-f4': 'mb:root-terminal'


'atom-text-editor':
  'alt-b': 'unset!'
  'alt-f': 'unset!'
  'alt-F': 'unset!'

  'alt-w': 'expand-region:expand'
  'alt-W': 'expand-region:shrink'


'atom-text-editor.vim-mode.normal-mode, atom-text-editor.vim-mode.visual-mode':
  's':           'lazy-motion:forward'


'atom-text-editor.lazy-motion':
  'ctrl-u': 'editor:delete-to-beginning-of-line'
  'alt-j':  'lazy-motion:forward'
  'alt-k':  'lazy-motion:backward'
  ';':      'core:confirm'
  'ctrl-p': 'lazy-motion:set-history-prev'
  'ctrl-n': 'lazy-motion:set-history-next'
